<script>
import ToolTemplate from "../../../src/modules/tools/ToolTemplate.vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
import getters from "../store/gettersExampleAddon";
import mutations from "../store/mutationsExampleAddon";

export default {
  name: "ExampleAddon",
  components: {
    ToolTemplate,
  },
  computed: {
    ...mapGetters("Tools/ExampleAddon", Object.keys(getters)),
  },
  created() {
    this.$on("close", this.close);
  },
  /**
   * Put initialize here if mounting occurs after config parsing
   * @returns {void}
   */
  mounted() {
    this.applyTranslationKey(this.name);
  },
  methods: {
    ...mapMutations("Tools/ExampleAddon", Object.keys(mutations)),

    /**
     * Closes this tool window by setting active to false
     * @returns {void}
     */
    close() {
      this.setActive(false);

      // TODO replace trigger when Menu is migrated
      // set the backbone model to active false for changing css class in menu (menu/desktop/tool/view.toggleIsActiveClass)
      // else the menu-entry for this tool is always highlighted
      const model = Radio.request("ModelList", "getModelByAttributes", {
        id: this.$store.state.Tools.ExampleAddon.id,
      });

      if (model) {
        model.set("isActive", false);
      }
    },
  },
};
</script>

<template lang="html">
    <ToolTemplate
        :title="$t(name)"
        :icon="glyphicon"
        :active="active"
        :render-to-window="renderToWindow"
        :resizable-window="resizableWindow"
        :deactivateGFI="deactivateGFI"
    >
        <template v-slot:toolBody>
            <div
                v-if="active"
                id="ExampleAddon"
            >
                {{ $t("additional:modules.tools.ExampleAddon.content") }}<br />
            </div>
        </template>
    </ToolTemplate>
</template>

<style lang="less">
</style>